body {
  font-family: 'Sour Gummy', sans-serif;
}

h1, h2, h3 {
  font-weight: 600;
}

p {
  font-weight: 300;
}
.footer {
    position: fixed;
    bottom: 0; /* Sticks to the bottom */
    left: 0;
    width: 100%; /* Full width */
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9; 
    color: white;
    z-index: 1000; /* Stays above other elements */
  }
  
  .footer p {
    font-size: 16px;
    margin: 0;
    color: rgb(122, 118, 118);
  }
  
  .footer span {
    color: red;
  }
  