body {
  font-family: 'Sour Gummy', sans-serif;
}

h1, h2, h3 {
  font-weight: 600;
}

p {
  font-weight: 300;
}

.header {
  position: fixed;
  top: 0; /* Sticks to the top */
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; /* Add horizontal padding */
  width: 100%;
  box-sizing: border-box; /* Ensures padding doesn't overflow */
  z-index: 1000; /* Stays above other elements */
}

.header .brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  cursor: pointer;
}

.nav-list a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

.nav-list a:hover {
  color: #929394;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .nav-list {
    flex-direction: column;
    gap: 10px;
  }
}
